@model IEnumerable<BlogApp.BlogPost>
@using BlogApp.Helpers;
@using PagedList;
@using PagedList.Mvc;
@{
    var pagedList = (IPagedList)Model;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">
<div class="container">
    <div class="row" style="padding:20px">
        @{
            foreach (var item in Model)
            {




                <div class="col-md-4">
                    <div class="category_article_body" style="height: 598px;">
                        <div class="top_article_img" style="background: url('@item.MediaURL') no-repeat center; background-size: 100%;">

                        </div>
                        <!-- top_article_img -->

                        <div class="category_article_title">
                            <h5>
                                @Html.ActionLink(item.Title, "DetailsSlug", new { slug = item.Slug })
                            </h5>
                        </div>
                        <!-- category_article_title -->

                        <div class="article_date">
                            <a href="#">@item.Created.ToString("dd MMMM yyyy")</a>, by: <a href="#">@item.PostAuthor</a>
                        </div>
                        <!-- article_date -->

                        <div class="category_article_content">
                            @StringTruncate.Truncate(item.ShortBody, 250)...
                            @Html.ActionLink("Read More", "DetailsSlug", new { slug = item.Slug })
                        </div>
                        <!-- category_article_content -->

                        <div class="article_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">@item.Comments.Count</a> Comments</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- category_article_body -->

                </div>
            }
        }
    </div>

    <nav aria-label="Page navigation" class="pagination_section">
        Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of     @pagedList.PageCount
        @Html.PagedListPager(pagedList, page => Url.Action("SearchPost", new { page, query = ViewBag.query }))
    </nav>

</div>